html {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

:root {
    --bg-clr-light: #fd9a00ff;

}

header {
    background-color: var(--bg-clr-light);
    width: 100vw;
    padding: 2rem 1rem;
}

header div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* @media screen and (min-width: 800px) {
    header {
      flex-direction: row;
    }
} */
header div.logo {
    flex-basis: 20%;
}

header div.logo img {
    width: 5rem;
}

nav.site-nav {
    display: flex;
    flex-basis: 80%;
    justify-content: space-between;
    align-self:flex-end;
    right: 0;
}

nav.site-nav ul il {
    padding: 1rem;
    justify-content: space-between;
}

nav.site-nav ul il a {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: red;
}