---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
// You can import components from any supported Framework here!

let title = 'About Us';
---

<MainLayout title="About Us">
<main>
<div class="container">
<h1>About</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, nobis.</p>
<p>Cumque exercitationem doloribus velit ipsam incidunt reprehenderit voluptatem perspiciatis ipsum!</p>
<p>Quibusdam consequuntur aliquam magni eaque voluptate, cumque sint. Eum, id.</p>
<p>Facilis molestiae sed necessitatibus quae nobis, et beatae repudiandae doloremque?</p>
<p>Consequatur, excepturi. Soluta architecto error nemo quidem velit. Minima, explicabo.</p>
<p>Ipsa dolores odit commodi recusandae placeat ducimus saepe optio voluptatem.</p>
<p>Laboriosam odio praesentium ex. Exercitationem nemo vel voluptatibus sapiente cupiditate!</p>
<p>Incidunt, molestiae voluptatum placeat reprehenderit vero rerum dolorem itaque aut?</p>

</div>
</main>

</MainLayout>