---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
// You can import components from any supported Framework here!

let title = 'Utah Pride Center';
---

<MainLayout title="Home">
<main>
<div class="container">
<h1>Home Page</h1>
    <section class="hero">
        <h2>Hero Goes Here</h2>
    </section>

    <section class="services">
        <h2>Programs & Services</h2>

        <div class="cards">
            <div class="card">
                <div class="card-image">
                
                </div>

                <div class="card-title">
                </div>

                <div class="card-description">
                
                </div>            
            </div>
        
        </div>
    
    </section>

    <aside class="news">

    </aside>

</div>
</main>

</MainLayout>