---
let {title} = Astro.props;
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve('../styles/style.css')}>

</head>
<body>
	<header>
		<div class="container">
		
		<div class="logo">
			<img src="assets/logo.svg" alt="">
		</div>

		<nav class="site-nav">
			<ul>
				<il><a href="/">Home</a></il>
				<il><a href="/about">About</a></il>
				<il><a href="/programs">Programs</a>
					<ul>
						<il><a href="/counseling">Counseling</a></il>
					</ul>
				</il>
				<il><a href="/blog">Blog</a></il>
				<il><a href="/contact-us">Contact Us</a></il>
			</ul>
		</nav>
		</div>
	</header>

	<slot></slot>

	<footer>
	<div class="container">
	<p>Copyright 2022</p>
	</div>
	</footer>
</body>
</html>